* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 16px;
  }

main {
    margin: 20px auto;
    width: 94%;
}
.hero {
    background-color: black;
    color: white;
    text-align: right;

}

.btn {
    background-color: blue;
    color: white;
}


.aside {
    background-color: lightgray;
    padding: 8px;
}
.current {
    border: 1px solid lightgray;
    padding: 10px;
    
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid blue;
}

.card-body {
    padding: 2.5%;
}

/* FLEX CONTENT */
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
 /* UV Index Class */

.low {
  background-color: #198754 ;
}

.moderate {
  background-color: #ffc107;
}

.high {
  background-color: #fd7e14;
}

.very-high {
  background-color: #dc3545;
}

.extreme {
  background-color: #6f42c1;
}