* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 10px;
    padding: opx;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 16px;
  }

main {
    margin: 0px;
    width: 100%;
}

.hero {
    background-color: black;
    color: white;
    text-align: center;

}

.btn {
    color: white;
}


.aside {
    padding: 0px auto auto 0px;
    width: 100%;
}
.current {
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    
}

/* Cards */
.heading {
  font-size:larger;
}

.info {
  font-weight: lighter;
}
/* FLEX CONTENT */
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
 /* UV Index Class */

.low {
  background-color: #198754 ;
}

.moderate {
  background-color: #ffc107;
}

.high {
  background-color: #fd7e14;
}

.very-high {
  background-color: #dc3545;
}

.extreme {
  background-color: #6f42c1;
}